<h2>Listing Articles</h2>

<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for article <- @articles do %>
    <tr>
      <td><%= article.title %></td>
      <td><%= article.body %></td>

      <td class="text-right">
      </td>
    </tr>
<% end %>
  </tbody>
</table>
